html,
body {
  height: 100%;
  font-weight: 300;
  font-size: 20px;
  font-weight: lighter;
  background-color: #f5f4ef;
  color: #0a0a0a;
  font-family: "PT Serif", serif;
}

h1 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 0;
  text-align: center;
  margin-bottom: 10px;
  color: #f5f4ef;
}

h2 {
  font-size: 24px;
  margin-bottom: 12px;
  font-family: "Poppins", sans-serif;
}

p {
  margin-top: 2px;
}

a {
  color: #2d4a70;
}

#home {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: radial-gradient(at top left, #e31b59, #1b242f);
  color: #f5f4ef;
}

.homeText {
  width: 50%;
  font-size: 20px;
  font-weight: 450;
  margin-top: 30px;
}

.homeText span {
  font-weight: 750;
}

.myWorkButton {
  margin-top: 80px;
  color: #f5f4ef;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding: 10px;
  border: solid #f5f4ef 2px;
  transition: 0.1s ease-out;
}

.myWorkButton:hover {
  border: solid #f5f4ef 4px;
  padding: 8px;
}

.navBar {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  z-index: 10;
  border-bottom: #0a0a0a solid 2px;
  background-color: #1b242f;
}

.navBar li {
  display: inline;
  margin-top: -20px;
  padding-top: -20px;
}

.navBar a {
  text-decoration: none;
  color: #f5f4ef;
  font-size: 18px;
  transition: 0.2s ease-in;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  border-bottom: transparent 2px solid;
}

.navBar a:hover {
  border-bottom: #f5f4ef 2px solid;
}

#projects {
  min-height: 100vh;
  padding-top: 100px;
}

#projects > div {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  margin-right: 10%;
  margin-left: 10%;
}

.projectPreview {
  width: 390px;
  height: 300px;
  transition: 0.1s;
  text-align: center;
  position: relative;
  margin: 10px;
  margin-bottom: 100px;
  cursor: pointer;
}

.projectPreviewImage {
  width: 390px;
  height: 300px;
  transition: 0.4s ease-out;
  border: transparent solid 8px;
  object-fit: cover;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(50%);
}

.projectPreview:hover .projectPreviewImage {
  border: #1b242f solid 8px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: none;
}

.projectPreviewTitle {
  width: 100%;
  color: #1b242f;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: -4px;
  text-align: left;
  text-decoration: none;
  font-weight: 500;
  display: inline-block;
  text-decoration: none;
  margin-left: 8px;
}

.project {
  min-height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 40%;
  padding-top: 100px;
  padding-bottom: 100px;
}

.projectHeader {
  display: inline-block;
}

.projectTitle {
  display: inline-block;
  margin-bottom: 40px;
  text-decoration: underline;
  color: #0a0a0a;
  text-align: center;
  text-anchor: middle;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-align: center;
  width: 90%;
}

.arrow {
  border: solid black;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 6px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  cursor: pointer;
}

.project p {
  font-size: 18px;
}

.imageText {
  font-size: 14px;
  font-style: italic;
  margin-top: -35px;
  color: #505050;
  padding-bottom: 20px;
}

.project img {
  margin-bottom: 40px;
  margin-top: 20px;
}

.project video {
  margin-bottom: 40px;
  margin-top: 20px;
}

.project .dirRow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.project .dirRow p {
  width: 45%;
}

.project .dirRow img {
  width: 50%;
  padding-left: 5%;
  padding-top: 0px;
  margin-top: 0px;
}

.project .dirRow video {
  width: 45%;
  padding-right: 5%;
}

.tripleImage {
  display: flex;
  flex-direction: row;
}

.tripleImage img {
  width: 33%;
}

#about {
  min-height: 100vh;
}

#aboutBorder {
  border-top: #0a0a0a solid 4px;
  position: absolute;
  width: 40%;
  left: 30%;
  padding-bottom: 200px;
}

#about > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 100px;
}

.aboutText {
  margin-top: 60px;
  margin-right: 100px;
  display: flex;
  flex-direction: column;
}

.avatar {
  height: 250px;
  width: 250px;
  margin-right: 50px;
  margin-bottom: 30px;
  align-self: center;
  border: #0a0a0a solid 4px;
}

.aboutSkills {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "PT Serif", serif;
}

.skills {
  width: 400px;
}

.skillTitle {
  display: inline-block;
  color: #0a0a0a;
  text-align: center;
  text-anchor: middle;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-align: left;
  width: 90%;
  font-size: 20px;
  margin-bottom: 0px;
}

.skillsText {
  width: 100%;
  height: 100px;
  border-top: #0a0a0a solid 4px;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
}
